/* --- HEADER --- */
div.header {
  position: relative;
  display: block;
  background-color: #7ebf36;
/*  border-bottom: 1px #acd233 solid;*/
  height: 76px;
}
div.header h1 {
  color: #FFF;
  text-align: center;
}
div.header .logo2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
div.header .flags {
  position: absolute;
  bottom: 2px;
  left: 0px;
}
div.header .flags a { margin-left: 0.5em; }
