<IfModule mod_rewrite.c>
  RewriteEngine On
  #RewriteBase /path/to/phpfreechat/server
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<Limit OPTIONS GET POST PUT DELETE>
  Order allow,deny
  Allow from all
</Limit>

